<app-header [headerData]="headerData"></app-header>
<div class="row mt-5">
    <div class="col-md-8">
        <div class="row">
            <h1 style="padding-left: 40px;">Contact Us</h1>
        </div>
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="form-group col-md">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group col-md">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group col-md">
                        <label for="phoneNo">Phone Number</label>
                        <input type="number" id="PhoneNo" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="feedback">Feedback</label>
                        <textarea id="feedback" rows="4" class="form-control"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <img src="../../assets/img/contactUs.jpg" alt="contace us" class="image-fluid" style="padding-left: 50px;">
    </div>
</div>