<div class="row mt-5">
            <div class="col-md-8">
                <div class="row">
                    <h1 style="padding-left: 40px;">Contact Us</h1>
                </div>
                <div class="row" style="padding-left: 40px; width: 800px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat in aliquid unde nam assumenda nobis amet
                    fugit ullam. Aspernatur molestias omnis et hic, ratione accusantium deserunt. Tenetur et quisquam voluptates!
                    Libero neque fugiat eum nihil minus ad iure saepe eligendi animi voluptates quia omnis quos, quod rerum
                    reprehenderit quis a nobis suscipit maiores distinctio consectetur necessitatibus nostrum. Beatae, et
                    optio. Voluptatem deserunt ullam consectetur incidunt aliquid autem iusto qui. Hic distinctio excepturi
                    reiciendis tenetur aliquam culpa autem magni impedit deleniti earum eum ab eius soluta, pariatur maxime
                    repellendus recusandae eligendi! Labore amet temporibus ipsa officia veniam rerum cupiditate corrupti
                    dolores quaerat? Maxime eligendi mollitia voluptatum officia harum rerum repellat aliquid sed? Quo, tenetur
                    amet. Voluptate, magni obcaecati? Autem, dolore quis? Libero, cum mollitia dolores illum, expedita eaque
                    perspiciatis doloremque sapiente ipsum esse magni distinctio. Facere atque odit eveniet alias. Error
                    inventore sed facilis, aperiam quisquam distinctio labore id voluptatem iusto!</div>
            </div>
            <div class="col-md-3">
                <img src="../../assets/img/contactUs.jpg" alt="contace us" class="image-fluid" style="padding-left: 50px;">
            </div>
        </div>
