<div class="row justify-content-center mb-3">
            <h1>
                Add Movie
            </h1>
        </div>
        <div class="row">
            <form class="col">
                <div class="form-group row">
                    <label for="uploadImage" class="col-md-4">Image: </label>
                    <div class="col-md">
                        <input type="button" value="Upload Image" id="uploadImage" class="btn btn-dark col-md-8 form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="movieName" class="col-md-4">Movie Name: </label>
                    <div class="col-md-8">
                        <input type="text" value="" id="movieName" class="col-md-8 form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rating" class="col-md-4">Rating: </label>
                    <div class="col-md-8">
                        <input type="text" value="" id="rating" class="col-md-8 form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-md-4">Description: </label>
                    <div class="col-md-8">
                        <textarea value="" id="description" class="col-md-8 form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
